/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  list-style: none;
}

/* Header css */
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75)), url('../img/background.png');
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1170px;
  /* width: 100%; */
  padding: 0 15px;
  margin: 0 auto;
}

nav {
  margin: auto;
  padding: 35px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  position: relative;
}

nav a::after {
  content: '';
  height: 3px;
  width: 0;
  background: #ff6348;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

nav a:hover:after {
  width: 100%;
}

.logo {
  width: 120px;
  cursor: pointer;
}
.logo img {
  width: 70%;
  height: auto;
  float: left;
}

nav ul,
li {
  display: inline-block;
  margin: 0 20px;
  font-weight: 400;
  font-size: 1rem;
}

.topnav .icon {
  display: none;
}

/* Content css */
.content {
  width: 100%;
  position: relative;
  top: 50%;
  text-align: center;
  color: white;
}

.content h1 {
  margin-top: 180px;
  font-size: 70px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  color: #afafaf;
}

.lesson-wrapper {
  margin-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 20px;
  color: #000;
  border-bottom: 2px solid #dee7ec;
  margin-bottom: 40px;
}

.lesson {
  float: left;
}

.image-content {
  margin-right: 15px;
  margin-left: 15px;
  align-items: center;
  position: relative;
}

.lesson p {
  margin-top: 12px;
}

/* Contact css */
.form-contact {
  margin-top: 330px;
  align-items: center;
}

form {
  margin-left: 100px;
  margin-right: 100px;
}

.heading2 {
  padding-top: 80px;
  padding-bottom: 20px;
  color: #000;
  border-bottom: 2px solid #dee7ec;
  margin-bottom: 40px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  margin: 8px 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: none;
  font-size: 16px;
  resize: none;
}

.contact-submit {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-submit:hover {
  background-color: #45a049;
}

/* Footer css */
footer img {
  width: 125px;
}

footer p {
  padding-top: 10px;
  color: white;
  font-size: 12px;
}

footer {
  text-align: center;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #1a7940;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
